<div>

  <h3>Detalles del pokemon {{this.onePokemon.name}} </h3>

  <div>

    <img src="{{this.onePokemon.url}}" alt="pokemon" height="400px">

    <p>tipo:</p>
    <p>{{this.onePokemon.type}}</p>

  </div>

</div>