<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav>
         <a href="/">Home</a>
         <a href="/pokemon">Lista pokemons</a>

         {{!-- form tiene propiedades especiales action y method que indica a donde el usuario va a enviar esa llamada (request) --}}
         <form action="/pokemon-search" method="get">

            <label for="">Nombre de Pokemon</label>
            <input type="text" name="pokemonName">
            <button>Buscar</button>

         </form>

      </nav>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>